body {
    background: radial-gradient(#FFFF, #28AA);    
}


.barra-navegacion {
    background: #454555;
}

.barra-navegacion__logo {
    display: inline-block;
    width: 70px;
    height: 70px;
    
}

.barra-navegacion__logo-img {
    width: 100%;
}


.barra-navegacion__li, .barra-navegacion__li-usuario {
    display: inline-block;
    text-decoration: none;
    padding-left: 35px;
}

.barra-navegacion__li a {
    text-decoration: none;
    font-size: 18px;
    color: #F1F2F3;
}

.barra-navegacion__li i {
    color: #DDD;
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
}

.barra-navegacion__li:hover > i {
    color: #9ADAFC;
}

.barra-navegacion__li:hover > a {
    color: #9ADAFC;
    border-top: 2px solid #9ADAFC;
    transition: 0.15s;
}

.active-section {
    color: #5ADAFC !important;
    border-top: 3px solid #5AA4AB;
}
/**Agregar clases active con JS, generar CSS para masterpages*/

@media only screen and (max-width: 990px) {
    .barra-navegacion__li, .barra-navegacion__li-usuario {
        display: block;
        margin-top: 10px;
        padding-bottom: 6px;
        padding-top: 6px;
    }

    .barra-navegacion__li a {
        width: 90%;
        display: inline-block;
        font-size: 20px;
    }

    .barra-navegacion__li:hover {
        border-radius: 3px;
        background-color: #4e4e4e;
    }

    .barra-navegacion__li:hover > a {
        color: #9ADAFC;
        border-top: none;
        transition: 0.25s;
    }

    .active-section {
        background: linear-gradient(to bottom, transparent, #5A5A5A);
        border-top: none;
        border-top: 1px solid #5A5A5A;
        border-radius: 3px;
    }

}