
.barra-navegacion
{
    background: #26A;
}

.barra-navegacion__logo
{

}

.barra-navegacion__elementos
{
    
}

.barra-navegacion__li, .barra-navegacion__li-usuario {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
}

.barra-navegacion__ul
{
    display: flex;
}

.barra-navegacion__li a {
    text-decoration: none;
    color: #DDD;
}

.barra-navegacion__li a:hover
{
    color: #FFF;
}

/**Agregar clases active con JS, generar CSS para masterpages*/
#inicio
{
    color: #A39;
}