body {
    background: radial-gradient(#CDF, #FFF);
}

.form__section{
    padding-bottom: 1rem;
}

.form {
    min-width: 250px;
    flex: 1;
    text-align: center;
    padding: 20px;
    order: 5;
}

.form__input {
    width: 90%;
    padding: 6px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    border-bottom: 3px solid #4EABCD;
    background: transparent;
    color: #454545;
    font-size: 22px;
}

.form__input:focus {
    outline: none;
    background: linear-gradient(to bottom, transparent, #4AAAFD55);
    border-bottom: 3px solid #4AAAFD;    
}

/*.img-container {
    padding: 20px;
    margin: auto;
    border-radius: 50%;
    background: #FAFAFA;
}

.form-img {
    flex: 1;
    padding: 10px;
    display: flex;
    min-width: 250px;
    max-width: 350px;
    order: 2;
}

.form-img img {
    width: 100%;
}*/

.btn-login:hover {
    background: #28AA;
}

.btn-login:focus {
    background: linear-gradient(to bottom, #757575,#A5A5D5);
}

.btn-login:active {
    background: #2ECECC;
}
